body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', 'Poppins', 'Arial', sans-serif;
}
.hero {
    background-image: url("/images/ft-money-machine-lead.avif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    .navbar {
        nav {
            color: white;
            justify-content: space-around;
            align-items: center;
            display: flex; 
            padding-top: 40px;
            img {
                width: 80px;
                padding: 10px;
                padding-right: 100px;
            }
            ul {
                display: flex;
                justify-content: space-around;
                text-align: center;
                gap: 50px;
                padding-left: 15px;
                list-style: none;
                li {
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
            .search_icon {
                cursor: pointer;
                font-size: 20px;
                font-weight: lighter;
            }
            .bars {
                padding: 10px 11px;
                font-size: 20px;
                background-color: white;
                color: black;
                border-radius: 50px;
            }
        }
    }
    .FTMoneyMachine {
        h1 {
            color: white;
            font-weight: lighter;
            font-size: 50px;
            text-align: left;
            padding-left: 120px;
            margin-top: 180px;
            margin-bottom: 70px;
            line-height: 60px;
        }
    }
    .hero_button {
        border: 1px solid white;
        color: white;
        padding: 10px 50px;
        width: max-content;
        margin-left: 120px;
        transition: 0.4s ease-in-out;
        font-size: 20px;
        a {
            color: white;
            text-decoration: none;
        }
    }
    .hero_button:hover {
        background-color: black;
        color: #ffffff;
        border-color: black;
        cursor: pointer;
    }
}
#click {
    display: none;
}

.coreCapabilities {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: #a86710;
    border: 20px solid #a86710;
    color: white;
    .coreCapabilities_exlore {
        .caseStudies_view {
            display: flex;
            gap: 50px;
        }
    }
    .coreCapabilities_image {
        img {
            width: 600px;
            height: 500px;
        }
    }
}

/*------>  Medea Querry <------*/

@media screen and (max-width: 770px) {
    .hero {
        .FTMoneyMachine {
            h1 {
                font-size: 40px;
                padding-left: 80px;
                margin-top: 100px;
                line-height: 55px;
            }
        }
        .navbar {
            nav {
            justify-content: space-between;
            .search_icon{
                padding-left: 220px;
            }
            .bars{
                margin-right: 50px;
            }
            img {
                padding-left: 20px;
                padding-right: 0px;
            }
            ul {
                    display: none;
            }
            }
        }
        .hero_button{
            margin-left: 80px;
        }
    }
    .coreCapabilities{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 600px) {
    .hero {
        .FTMoneyMachine {
            h1 {
                font-size: 30px;
                padding-left: 50px;
                margin-top: 50px;
                line-height: 50px;
            }
        }
        .navbar {
            nav {
            justify-content: space-between;
            .search_icon{
                padding-left: 80px;
            }
            .bars{
                margin-right: 15px;
            }
            img {
                padding-left: 20px;
                padding-right: 0px;
            }
            }
        }
        .hero_button{
            margin-left: 50px;
        }
    }
    .coreCapabilities{
        .coreCapabilities_exlore {
            .caseStudies_view {
                flex-direction: column;
            }
        }
        .coreCapabilities_image {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}